
/* text */
.bold         { -fx-font-weight: bold; }
.label-title  { -fx-font-weight: bold; -fx-font-size: 14; }

/* odsazení */
.padding-panel         { -fx-padding: 10 10 10 10; }
.padding-bottom-small  { -fx-padding:  0  0  5  0; }
.padding-bottom-normal { -fx-padding:  0  0 10  0; }
.padding-bottom-big    { -fx-padding:  0  0 20  0; }